.images{
    display: flex;
    justify-content: center;
}

h2.carousel-title{
    display: flex;
    justify-content: center;
}
.carousel{
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-imagenes{
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
img{
    height: 250px;
}
div.indicadores{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 4rem;
}



    