.images{
    display: flex;
    justify-content: center;
}

h2.carousel-title{
    display: flex;
    justify-content: center;
    color: #12adc7;
}
.carousel{
    display: flex;
    justify-content: center;
    align-items: center;
}
div.slide{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
  }

  .description {
    text-align: center;
    margin-top: 10px;
  }
img{
    height: 250px;
}
div.flechas{
    display: flex;
    justify-content: center;
}
div.indicadores{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 4rem;
}

h3{
    display: flex;
    justify-content: center;
    color: #ff8c00;
}
section.container{
@media (min-width: 1400px)
{.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1700px;
}
}
}


    