.Main{
    margin: 10rem;
    display: flex;
    justify-content: center;
}

#form-SignIn{
    background:#add8e6 ;
    border-radius: 1rem;
    padding: 2rem;
    width: max-content;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5rem;
}
#exampleInputEmail1{
    width: 90% !important
}
#exampleInputPassword1{
    width: 50% !important;
}

button.btn.btn-primary.login {
    margin-bottom: 1rem;
}

.register{
    display: flex;
    gap: 1rem;
}

.account{
    color: rgb(22, 20, 20);
}