
h1{
  color: #f50707;
  font-family: 'Dancing Script', cursive; 
}

div.botonesnav{
    display: flex;
    gap: 1rem;
  }
button.btn.btn-secondary{
    background: #4747a8;
    border: 0;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
p{
    color:#ff8c00;
}
