h1 {
  color: #f50707;
  font-family: "Dancing Script", cursive;
}

div.botonesnav {
  display: flex;
  gap: 1rem;
}
button.btn.btn-secondary {
  background: #4747a8;
  border: 0;
}
a {
  text-decoration: none;
  /* color: rgb(255, 255, 255); */
}
#btn-nav{
  color: aliceblue;
}
p {
  color: #ff8c00;
}

@media (max-width: 280px) {
  main.container {
    padding: 1rem;
  }

  article {
    width: 100%;
  }

  img.logo-Mytinerary {
    height: 150px;
    width: 150px;
  }

  
  header {
    padding: 1rem;
  }

  div.botonesnav {
    flex-direction: column;
    gap: 0.5rem;
  }

  button.btn.btn-secondary {
    width: 100%;
  }
}