#root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #210f0f;
}

@media (max-width: 575px) {
  nav.navbar {
    padding-left: 2rem;
  }
  main.container {
    max-width: 50vw;
    display: flex;
    max-height: 15vh;
    flex-wrap: wrap;
  }

  article {
    display: flex;
    flex-wrap: wrap;
    width: 230px;
    text-align: justify;
    margin-left: -2rem;
  }
  img {
    margin: 1rem;
    height: 150px;
  }
}

@media (max-width: 768px) {
  nav.navbar {
    padding-left: 5rem;
  }
  main.container {
    margin-left: 5rem;
  }
}
