:root {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 background-color: #ffffff;
}
main{
  display: flex;
  align-items: center;
  min-height: 80vh; 
}
img.logomontaña{
  height: 150px;
  margin-left: 7rem;
}
div.botonesnav{
  display: flex;
  gap: 1rem;
}
button.botonesnav1, button.botonesnav2{
  background: #ffffff;
  border: 0;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
